@model Modelo.Entidades.Usuario
@using Modelo.Entidades 
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Usuario</h1>

<h3>Datos del Usuario</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivel_Us)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivel_Us)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_Empleado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
